/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.app-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaça topo/conteúdo/rodapé */
  align-items: center;
  background-color: #f0f0f0;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #293949
}

span.carregando {
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 50%;
  border-top: 2px solid transparent;
  animation: roda 1.5s linear infinite;
  text-align: center;
}


.divAuthor{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.author{
  color: #293949;
  margin-right: 50px;
}

@media only screen and (max-width: 700px) {
  h1{
    font-size: 35px;
  }

}

@keyframes roda {
  to {
    transform: rotate(360deg);
  }
}